*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.header{
  height: 68px;
  background-color: aquamarine;
}

.main-menu li{
  display: inline-block;
  padding: 15px;
}
.main-content{
  padding-bottom:50px;
}

.footer{
  height: 40px;
  background-color: blue;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.tic-box{
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  line-height: normal;
  vertical-align: bottom;
  font-size: 28px;
}
.withMove{
  background-color: darkgray;
}